/**
 * The smallest viewport available.
 */
$viewport-xxs: 0;

/**
 * Max-width of extra small devices, like phones.
 */
$viewport-xs: 610px;

/**
 * Max-width of small devices, like large phones.
 */
$viewport-sm: 768px;

/**
 * Max-width of medium devices, like tablets.
 */
$viewport-md: 992px;

/**
 * Max-width of medium devices, like computers.
 */
$viewport-lg: 1200px;
