h1,
h2,
h3,
h4 {
  font-family: Bangers, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  font-family: League, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2;
}
